@import url(reset.css);
@import url(12bool.css);
@import url(12offset.css);

.container{
    max-width: 73.125rem;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    flex-grow: 1;
    max-width: 100%;
}

h2{
    margin-top: 1.25rem;
}

.box{
    background-color: blue;
    color: white;
    border: 1px solid white;
    text-align: center;
}

.box2{
    background-color: green;
    color: white;
    border: .3125rem solid blue;
    text-align: center;
}
.border-col-12{
    border-top: .625rem solid white;
}